# Python Pandas library practice

In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_excel("./sample_datasets/military_expenditure.xlsx")
df.head()

,Unnamed: 0,Country,Year,Military expenditure (current US$),Total military expenditure (% of GDP),GDP (current US$)
0,0,India,2023,8.357457e+10,2.443051,3.567552e+12
1,1,India,2022,7.997679e+10,2.363927,3.353470e+12
2,2,India,2021,7.634854e+10,2.480389,3.167271e+12
3,3,India,2020,7.293706e+10,2.807194,2.674852e+12
4,4,India,2019,7.146890e+10,2.545998,2.835606e+12

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 6 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             128 non-null    int64
 1   Country                                128 non-null    object
 2   Year                                   128 non-null    int64
 3   Military expenditure (current US$)     128 non-null    float64
 4   Total military expenditure (% of GDP)  128 non-null    float64
 5   GDP (current US$)                      128 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.1+ KB

In [5]:
df.describe()

,Unnamed: 0,Year,Military expenditure (current US$),Total military expenditure (% of GDP),GDP (current US$)
count,128.000000,128.000000,1.280000e+02,128.000000,1.280000e+02
mean,63.500000,1991.500000,1.216810e+10,3.980945,4.447942e+11
std,37.094474,18.545539,1.903878e+10,1.432147,7.756094e+11
min,0.000000,1960.000000,2.003402e+08,2.004012,3.749265e+09
25%,31.750000,1975.750000,1.952657e+09,2.910434,4.013094e+10
50%,63.500000,1991.500000,4.357656e+09,3.468627,1.412554e+11
75%,95.250000,2007.250000,1.066170e+10,5.407227,3.415333e+11
max,127.000000,2023.000000,8.357457e+10,6.991656,3.567552e+12

In [6]:
df.tail()

,Unnamed: 0,Country,Year,Military expenditure (current US$),Total military expenditure (% of GDP),GDP (current US$)
123,123,Pakistan,1964,2.578803e+08,3.865890,5.204956e+09
124,124,Pakistan,1963,2.196602e+08,3.648413,4.630827e+09
125,125,Pakistan,1962,2.003402e+08,3.655873,4.310164e+09
126,126,Pakistan,1961,2.101052e+08,4.097891,4.118648e+09
127,127,Pakistan,1960,2.088452e+08,4.312663,3.749265e+09

In [7]:
df.columns

Index(['Unnamed: 0', 'Country', 'Year', 'Military expenditure (current US$)',
       'Total military expenditure (% of GDP)', 'GDP (current US$)'],
      dtype='object')

In [8]:
df['Country'].unique()

array(['India', 'Pakistan'], dtype=object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 6 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             128 non-null    int64
 1   Country                                128 non-null    object
 2   Year                                   128 non-null    int64
 3   Military expenditure (current US$)     128 non-null    float64
 4   Total military expenditure (% of GDP)  128 non-null    float64
 5   GDP (current US$)                      128 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 6.1+ KB

In [10]:
print(df)

     Unnamed: 0   Country  Year  Military expenditure (current US$)  \
0             0     India  2023                        8.357457e+10
1             1     India  2022                        7.997679e+10
2             2     India  2021                        7.634854e+10
3             3     India  2020                        7.293706e+10
4             4     India  2019                        7.146890e+10
..          ...       ...   ...                                 ...
123         123  Pakistan  1964                        2.578803e+08
124         124  Pakistan  1963                        2.196602e+08
125         125  Pakistan  1962                        2.003402e+08
126         126  Pakistan  1961                        2.101052e+08
127         127  Pakistan  1960                        2.088452e+08

     Total military expenditure (% of GDP)  GDP (current US$)
0                                 2.443051       3.567552e+12
1                                 2.363927       3.353470e+12
2                                 2.480389       3.167271e+12
3                                 2.807194       2.674852e+12
4                                 2.545998       2.835606e+12
..                                     ...                ...
123                               3.865890       5.204956e+09
124                               3.648413       4.630827e+09
125                               3.655873       4.310164e+09
126                               4.097891       4.118648e+09
127                               4.312663       3.749265e+09

[128 rows x 6 columns]

In [11]:
df

,Unnamed: 0,Country,Year,Military expenditure (current US$),Total military expenditure (% of GDP),GDP (current US$)
0,0,India,2023,8.357457e+10,2.443051,3.567552e+12
1,1,India,2022,7.997679e+10,2.363927,3.353470e+12
2,2,India,2021,7.634854e+10,2.480389,3.167271e+12
3,3,India,2020,7.293706e+10,2.807194,2.674852e+12
4,4,India,2019,7.146890e+10,2.545998,2.835606e+12
...,...,...,...,...,...,...
123,123,Pakistan,1964,2.578803e+08,3.865890,5.204956e+09
124,124,Pakistan,1963,2.196602e+08,3.648413,4.630827e+09
125,125,Pakistan,1962,2.003402e+08,3.655873,4.310164e+09
126,126,Pakistan,1961,2.101052e+08,4.097891,4.118648e+09
127,127,Pakistan,1960,2.088452e+08,4.312663,3.749265e+09

### Load another dataset

In [13]:
df = pd.read_excel("./sample_datasets/railway_lines_length.xlsx")
df.head()

  country  date  Railway route length (km)
0   India  2023                        NaN
1     NaN  2022                        NaN
2     NaN  2021                   68102.73
3     NaN  2020                   67955.63
4     NaN  2019                   67414.07

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   country                    2 non-null      object
 1   date                       128 non-null    int64
 2   Railway route length (km)  52 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 3.1+ KB

In [15]:
df['Railway route length (km)'].unique()

array([     nan, 68102.73, 67955.63, 67414.07, 69249.  , 67368.  ,
       66687.  , 66030.  , 65808.  , 65436.  , 64600.  , 64460.  ,
       63974.  , 64015.  , 63273.  , 63327.  , 63332.  , 63485.  ,
       63221.  , 63122.  , 63140.  , 63028.  , 62759.  , 62810.  ,
       62495.  , 62725.  , 62915.  , 62660.  ,  7791.  ,  7784.  ,
        7792.  ,  8775.  ])

In [16]:
df['date'].unique()

array([2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013,
       2012, 2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002,
       2001, 2000, 1999, 1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991,
       1990, 1989, 1988, 1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980,
       1979, 1978, 1977, 1976, 1975, 1974, 1973, 1972, 1971, 1970, 1969,
       1968, 1967, 1966, 1965, 1964, 1963, 1962, 1961, 1960])

In [18]:
df.tail()

    country  date  Railway route length (km)
123     NaN  1964                        NaN
124     NaN  1963                        NaN
125     NaN  1962                        NaN
126     NaN  1961                        NaN
127     NaN  1960                        NaN

In [19]:
df.describe()

              date  Railway route length (km)
count   128.000000                   52.00000
mean   1991.500000                37291.27750
std      18.545539                28662.14139
min    1960.000000                 7784.00000
25%    1975.750000                 7791.00000
50%    1991.500000                62577.50000
75%    2007.250000                63607.25000
max    2023.000000                69249.00000

In [20]:
df.columns

Index(['country', 'date', 'Railway route length (km)'], dtype='object')

### Load another dataset

In [22]:
df = pd.read_csv("./sample_datasets/NVDA_yfinance.csv")

In [23]:
df.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,GOOGL,GOOGL,GOOGL,GOOGL,GOOGL
1,Date,NaN,NaN,NaN,NaN,NaN
2,2015-01-02,26.351516723632812,26.662529798560367,26.26841222285612,26.50328935778615,26480000
3,2015-01-05,25.849414825439453,26.273885771708642,25.764322836130155,26.232085798376406,41182000
4,2015-01-06,25.211467742919922,25.93649991035023,25.15722648400916,25.90116924923008,54456000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2583 entries, 0 to 2582
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Price   2583 non-null   object
 1   Close   2582 non-null   object
 2   High    2582 non-null   object
 3   Low     2582 non-null   object
 4   Open    2582 non-null   object
 5   Volume  2582 non-null   object
dtypes: object(6)
memory usage: 121.2+ KB

In [25]:
df.describe()

         Price               Close   High    Low   Open    Volume
count     2583                2582   2582   2582   2582      2582
unique    2583                2547   2582   2582   2582      2500
top     Ticker  105.46578216552734  GOOGL  GOOGL  GOOGL  22288000
freq         1                   3      1      1      1         3

In [26]:
df.columns

Index(['Price', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [27]:
df['Price'].unique()

array(['Ticker', 'Date', '2015-01-02', ..., '2025-04-03', '2025-04-04',
       '2025-04-07'], shape=(2583,), dtype=object)

In [28]:
print(df)

           Price               Close                High                 Low  \
0         Ticker               GOOGL               GOOGL               GOOGL
1           Date                 NaN                 NaN                 NaN
2     2015-01-02  26.351516723632812  26.662529798560367   26.26841222285612
3     2015-01-05  25.849414825439453  26.273885771708642  25.764322836130155
4     2015-01-06  25.211467742919922   25.93649991035023   25.15722648400916
...          ...                 ...                 ...                 ...
2578  2025-04-01  157.07000732421875  158.10000610351562   153.6199951171875
2579  2025-04-02   157.0399932861328  158.41000366210938   154.6999969482422
2580  2025-04-03  150.72000122070312  152.77999877929688  150.38999938964844
2581  2025-04-04  145.60000610351562  151.07000732421875   145.3800048828125
2582  2025-04-07              146.75  152.85000610351562  140.52999877929688

                    Open    Volume
0                  GOOGL     GOOGL
1                    NaN       NaN
2      26.50328935778615  26480000
3     26.232085798376406  41182000
4      25.90116924923008  54456000
...                  ...       ...
2578   153.6199951171875  30672900
2579  155.14999389648438  25041700
2580  151.11000061035156  46883400
2581  148.00999450683594  62259500
2582   141.5500030517578  76794100

[2583 rows x 6 columns]

### Load another dataset

In [31]:
df = pd.read_csv("./sample_datasets/AAPL_MSFT_NVDA_GOOGL_AMZN_yfinance.csv")

In [32]:
df.head()

,Price,Close,Close.1,Close.2,Close.3,Close.4,High,High.1,High.2,High.3,...,Open,Open.1,Open.2,Open.3,Open.4,Volume,Volume.1,Volume.2,Volume.3,Volume.4
0,Ticker,AAPL,AMZN,GOOGL,MSFT,NVDA,AAPL,AMZN,GOOGL,MSFT,...,AAPL,AMZN,GOOGL,MSFT,NVDA,AAPL,AMZN,GOOGL,MSFT,NVDA
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,6.4403300285339355,6.695000171661377,15.609803199768066,23.254056930541992,0.4238836169242859,6.455075825369143,6.83050012588501,15.678544409230243,23.36675804792094,...,6.422875746236436,6.8125,15.614784268007728,23.006113899079324,0.42434211142384015,493729600,151998000,78169752,38409100,800204000
3,2010-01-05,6.451465129852295,6.734499931335449,15.54106330871582,23.26156234741211,0.4300733208656311,6.48787840981577,6.77400016784668,15.636951722017164,23.366751268443092,...,6.458085872315779,6.671500205993652,15.620513626953805,23.1789156496181,0.42227880628069586,601904800,177038000,120067812,49749600,728648000
4,2010-01-06,6.348846912384033,6.612500190734863,15.149293899536133,23.118818283081055,0.43282440304756165,6.477045767122851,6.736499786376953,15.587638382126233,23.351734149650884,...,6.45146602403412,6.730000019073486,15.587638382126233,23.201465016531383,0.42984414766684437,552160000,143576000,158988852,58182400,649168000

In [33]:
df.tail()

,Price,Close,Close.1,Close.2,Close.3,Close.4,High,High.1,High.2,High.3,...,Open,Open.1,Open.2,Open.3,Open.4,Volume,Volume.1,Volume.2,Volume.3,Volume.4
3744,2024-11-14,227.9693603515625,211.47999572753906,175.17724609375,425.1846923828125,146.7363739013672,228.61864039722624,215.89999389648438,178.40981947170926,426.4595778768523,...,224.77287777547028,214.16000366210938,177.8710496301556,423.30222788535474,147.6162371498861,44923900,42620300,31007500,30246900,194463300
3745,2024-11-15,224.7528839111328,202.61000061035156,172.09434509277344,413.3421936035156,141.9571533203125,226.67077335813082,207.33999633789062,173.7405542062273,421.1110226744225,...,226.15134020310103,206.75999450683594,173.3314910172349,418.14294637599176,144.8466877533126,47923700,86591100,32504600,28247600,250132900
3746,2024-11-18,227.7695770263672,201.6999969482422,174.89788818359375,414.0991516113281,140.12744140625,229.4876892234719,204.6699981689453,175.03756643328137,416.72858966014985,...,225.00261496304853,204.14999389648438,173.02219578168507,413.21269235073834,139.47755210471132,44686000,36512500,20206600,24742000,221866000
3747,2024-11-19,228.02928161621094,204.61000061035156,177.71142578125,416.1210632324219,146.98634338378906,229.90722171238716,205.3000030517578,178.45970544097182,416.270457948444,...,226.73070634208972,199.3300018310547,173.32152453373092,411.45973532284427,141.2972716123141,36211800,31197900,23434900,18133500,227834900
3748,2024-11-20,228.7484893798828,202.8800048828125,175.57632446289062,413.8302001953125,145.8665313720703,229.67746064503265,203.1300048828125,177.27242187746617,415.62302783332285,...,227.80951934283004,202.97999572753906,176.9332054393086,415.2046922657536,147.38629113505743,35169600,32769000,18997100,19191700,309871700

In [34]:
df.columns

Index(['Price', 'Close', 'Close.1', 'Close.2', 'Close.3', 'Close.4', 'High',
       'High.1', 'High.2', 'High.3', 'High.4', 'Low', 'Low.1', 'Low.2',
       'Low.3', 'Low.4', 'Open', 'Open.1', 'Open.2', 'Open.3', 'Open.4',
       'Volume', 'Volume.1', 'Volume.2', 'Volume.3', 'Volume.4'],
      dtype='object')

In [35]:
df

,Price,Close,Close.1,Close.2,Close.3,Close.4,High,High.1,High.2,High.3,...,Open,Open.1,Open.2,Open.3,Open.4,Volume,Volume.1,Volume.2,Volume.3,Volume.4
0,Ticker,AAPL,AMZN,GOOGL,MSFT,NVDA,AAPL,AMZN,GOOGL,MSFT,...,AAPL,AMZN,GOOGL,MSFT,NVDA,AAPL,AMZN,GOOGL,MSFT,NVDA
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-01-04,6.4403300285339355,6.695000171661377,15.609803199768066,23.254056930541992,0.4238836169242859,6.455075825369143,6.83050012588501,15.678544409230243,23.36675804792094,...,6.422875746236436,6.8125,15.614784268007728,23.006113899079324,0.42434211142384015,493729600,151998000,78169752,38409100,800204000
3,2010-01-05,6.451465129852295,6.734499931335449,15.54106330871582,23.26156234741211,0.4300733208656311,6.48787840981577,6.77400016784668,15.636951722017164,23.366751268443092,...,6.458085872315779,6.671500205993652,15.620513626953805,23.1789156496181,0.42227880628069586,601904800,177038000,120067812,49749600,728648000
4,2010-01-06,6.348846912384033,6.612500190734863,15.149293899536133,23.118818283081055,0.43282440304756165,6.477045767122851,6.736499786376953,15.587638382126233,23.351734149650884,...,6.45146602403412,6.730000019073486,15.587638382126233,23.201465016531383,0.42984414766684437,552160000,143576000,158988852,58182400,649168000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3744,2024-11-14,227.9693603515625,211.47999572753906,175.17724609375,425.1846923828125,146.7363739013672,228.61864039722624,215.89999389648438,178.40981947170926,426.4595778768523,...,224.77287777547028,214.16000366210938,177.8710496301556,423.30222788535474,147.6162371498861,44923900,42620300,31007500,30246900,194463300
3745,2024-11-15,224.7528839111328,202.61000061035156,172.09434509277344,413.3421936035156,141.9571533203125,226.67077335813082,207.33999633789062,173.7405542062273,421.1110226744225,...,226.15134020310103,206.75999450683594,173.3314910172349,418.14294637599176,144.8466877533126,47923700,86591100,32504600,28247600,250132900
3746,2024-11-18,227.7695770263672,201.6999969482422,174.89788818359375,414.0991516113281,140.12744140625,229.4876892234719,204.6699981689453,175.03756643328137,416.72858966014985,...,225.00261496304853,204.14999389648438,173.02219578168507,413.21269235073834,139.47755210471132,44686000,36512500,20206600,24742000,221866000
3747,2024-11-19,228.02928161621094,204.61000061035156,177.71142578125,416.1210632324219,146.98634338378906,229.90722171238716,205.3000030517578,178.45970544097182,416.270457948444,...,226.73070634208972,199.3300018310547,173.32152453373092,411.45973532284427,141.2972716123141,36211800,31197900,23434900,18133500,227834900
3748,2024-11-20,228.7484893798828,202.8800048828125,175.57632446289062,413.8302001953125,145.8665313720703,229.67746064503265,203.1300048828125,177.27242187746617,415.62302783332285,...,227.80951934283004,202.97999572753906,176.9332054393086,415.2046922657536,147.38629113505743,35169600,32769000,18997100,19191700,309871700

In [36]:
print(df)

           Price               Close             Close.1             Close.2  \
0         Ticker                AAPL                AMZN               GOOGL
1           Date                 NaN                 NaN                 NaN
2     2010-01-04  6.4403300285339355   6.695000171661377  15.609803199768066
3     2010-01-05   6.451465129852295   6.734499931335449   15.54106330871582
4     2010-01-06   6.348846912384033   6.612500190734863  15.149293899536133
...          ...                 ...                 ...                 ...
3744  2024-11-14   227.9693603515625  211.47999572753906     175.17724609375
3745  2024-11-15   224.7528839111328  202.61000061035156  172.09434509277344
3746  2024-11-18   227.7695770263672   201.6999969482422  174.89788818359375
3747  2024-11-19  228.02928161621094  204.61000061035156     177.71142578125
3748  2024-11-20   228.7484893798828   202.8800048828125  175.57632446289062

                 Close.3              Close.4                High  \
0                   MSFT                 NVDA                AAPL
1                    NaN                  NaN                 NaN
2     23.254056930541992   0.4238836169242859   6.455075825369143
3      23.26156234741211   0.4300733208656311    6.48787840981577
4     23.118818283081055  0.43282440304756165   6.477045767122851
...                  ...                  ...                 ...
3744   425.1846923828125    146.7363739013672  228.61864039722624
3745   413.3421936035156    141.9571533203125  226.67077335813082
3746   414.0991516113281      140.12744140625   229.4876892234719
3747   416.1210632324219   146.98634338378906  229.90722171238716
3748   413.8302001953125    145.8665313720703  229.67746064503265

                  High.1              High.2              High.3  ...  \
0                   AMZN               GOOGL                MSFT  ...
1                    NaN                 NaN                 NaN  ...
2       6.83050012588501  15.678544409230243   23.36675804792094  ...
3       6.77400016784668  15.636951722017164  23.366751268443092  ...
4      6.736499786376953  15.587638382126233  23.351734149650884  ...
...                  ...                 ...                 ...  ...
3744  215.89999389648438  178.40981947170926   426.4595778768523  ...
3745  207.33999633789062   173.7405542062273   421.1110226744225  ...
3746   204.6699981689453  175.03756643328137  416.72858966014985  ...
3747   205.3000030517578  178.45970544097182    416.270457948444  ...
3748   203.1300048828125  177.27242187746617  415.62302783332285  ...

                    Open              Open.1              Open.2  \
0                   AAPL                AMZN               GOOGL
1                    NaN                 NaN                 NaN
2      6.422875746236436              6.8125  15.614784268007728
3      6.458085872315779   6.671500205993652  15.620513626953805
4       6.45146602403412   6.730000019073486  15.587638382126233
...                  ...                 ...                 ...
3744  224.77287777547028  214.16000366210938   177.8710496301556
3745  226.15134020310103  206.75999450683594   173.3314910172349
3746  225.00261496304853  204.14999389648438  173.02219578168507
3747  226.73070634208972   199.3300018310547  173.32152453373092
3748  227.80951934283004  202.97999572753906   176.9332054393086

                  Open.3               Open.4     Volume   Volume.1  \
0                   MSFT                 NVDA       AAPL       AMZN
1                    NaN                  NaN        NaN        NaN
2     23.006113899079324  0.42434211142384015  493729600  151998000
3       23.1789156496181  0.42227880628069586  601904800  177038000
4     23.201465016531383  0.42984414766684437  552160000  143576000
...                  ...                  ...        ...        ...
3744  423.30222788535474    147.6162371498861   44923900   42620300
3745  418.14294637599176    144.8466877533126   47923700   86591100
3746  413.21269235073834   139.47755210471132   44686000   36512500
3747  411.45973532284427    141.2972716123141   36211800   31197900
3748   415.2046922657536   147.38629113505743   35169600   32769000

       Volume.2  Volume.3   Volume.4
0         GOOGL      MSFT       NVDA
1           NaN       NaN        NaN
2      78169752  38409100  800204000
3     120067812  49749600  728648000
4     158988852  58182400  649168000
...         ...       ...        ...
3744   31007500  30246900  194463300
3745   32504600  28247600  250132900
3746   20206600  24742000  221866000
3747   23434900  18133500  227834900
3748   18997100  19191700  309871700

[3749 rows x 26 columns]

-------